Telegram AI Agent.json
{
  "name": "Telegram AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        -144
      ],
      "id": "ce5616c8-ba81-4bb7-95e6-03db4112e450",
      "name": "Telegram Trigger",
      "webhookId": "ed80050e-69e8-447b-ab22-7541d588b48c",
      "credentials": {
        "telegramApi": {
          "id": "I8mk4YraDxGcGvbI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -144
      ],
      "id": "d28b8e9c-b30c-4cd3-a0be-c3e583e43fab",
      "name": "Send a text message",
      "webhookId": "79796da3-68b8-450d-96d0-25ffa414fcd6",
      "credentials": {
        "telegramApi": {
          "id": "I8mk4YraDxGcGvbI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on input {{ $json.message.text }}, reply it with a good reply and act like a AI agent\n\nIf there is anything related to doing tasks, use 'get_many_google_task_tool' as per user's inputs. Give summary without any links etc.\n\nFor any calender related queries, time is {{ $now }}. Based on it create any appointments or any bookings asked by user in my calendar.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        -144
      ],
      "id": "5610c133-e73b-41db-86c6-cf1ab7416d63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "id": "3312543a-18fd-43fa-8280-ca4f5251fc46",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "tqgcjJvBYSYw2fts",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        144
      ],
      "id": "1f72d6f8-c2ed-470d-8098-728e84791793",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "418ffe90-bd5b-4b1e-9ec0-21c8d3061a4a",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "ed5bce53-b124-401b-990b-2857be204295",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -144
      ],
      "id": "9f44f69a-e9f3-4c3a-b86a-017b1ba30d31",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDY4OTM2MzE0NDM2OTMxNDAzODE6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "0f6397c4-630f-4bc1-a499-cf1888029217",
      "name": "get_many_google_task_tool",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "pb68CqoLCPrIRF59",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "anonymous.guy890098@gmail.com",
          "mode": "list",
          "cachedResultName": "anonymous.guy890098@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "89b50670-f1d9-41b1-b9fc-b83f81875828",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wsVxikSTLTP64xD1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        96
      ],
      "id": "5481853a-455a-4db9-938a-480cbe44f5ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ykHkiHLO8PMTcMnw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "anonymous.guy890098@gmail.com",
          "mode": "list",
          "cachedResultName": "anonymous.guy890098@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        80
      ],
      "id": "29583d37-8c4c-409c-8b70-ab77cc5822dc",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wsVxikSTLTP64xD1",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_many_google_task_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbb97114-8c97-4e2b-a6f7-243f970921ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5ee1d0a98e3d7ced9041aa08f845f24a80d33c863bfa3a2c5946cd47370343a"
  },
  "id": "fycGenU7nOJNCNc8",
  "tags": []
}